/* HTML: <div class="loader"></div> */
.loader {
    height: 6px;
    aspect-ratio: 6;
    --c: #0000 64%, #000 66% 98%, #0000 101%;
    background: radial-gradient(35% 130% at 50% 159%, var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%, var(--c)) 25% 100%;
    background-size: calc(100% / 3) 50%;
    background-repeat: repeat-x;
    animation: l1 1s infinite linear;
}

@keyframes l1 {
    to {
        background-position: 50% 0, 75% 100%
    }
}
