:root {
    --ba-thumbnail-image-width: 220px;
    --ba-thumbnail-image-height: 150px;
}

/* Style for the container of the thumbnail */
.ba-thumbnail-container {
    width: var(--ba-thumbnail-image-width); /* Set a maximum width for the preview */
    height: var(--ba-thumbnail-image-height); /* Set a maximum height for the preview */
}

/* Style for the thumbnail image */
.ba-thumbnail-image {
    width: var(--ba-thumbnail-image-width); /* Set a fixed width */
    height: var(--ba-thumbnail-image-height); /* Set a fixed height */
    object-fit: cover; /* Scale the image to cover the entire container */
    transition: transform 0.3s, box-shadow 0.3s; /* Add a smooth transition effect */
    transform: scale(1.1); /* Increase the size on hover */
}

/* Style for the hover effect */
.ba-thumbnail-container:hover .ba-thumbnail-image {
    transform: scale(1.2); /* Increase the size on hover */
}
