@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1024px;
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }
}
