.ba-button {
  border: var(--border);
  border-color: inherit;
  border-radius: var(--border-radius-strong);
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.ba-button--primary {
  color: white;
  background-color: var(--ba-color-primary);
}
.ba-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.ba-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.ba-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.ba-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
